In [9]:
import os
import re
import pandas as pd
import spacy
from spacy import displacy
nlp = spacy.load('en')

In [37]:
data_dir = 'mitford-letters'
clean_text_dir = '../mitford_letters_clean'
gold_standard_dir = '../mitford_letters_gs'
spacy_dir = '../spacy_mitford'
letters = os.listdir(clean_text_dir)

In [38]:
for letter in letters:
    with open(os.path.join(clean_text_dir, letter), 'r') as f:
        text = f.read()
    
    text = text.strip()
    text = re.sub('\n', '', text)
    text = re.sub('\t', '', text)
    doc = nlp(text)
    ents = doc.ents
    ents = [(e.text, e.start_char, e.end_char, e.label_) for e in doc.ents if e.label_ in ['PERSON', 'GPE']]
    
    tags = []
    begin_offsets = []
    end_offsets = []
    text = []
    for e in ents:
        text.append(e[0])
        tags.append(e[-1])
        begin_offsets.append(e[1])
        end_offsets.append(e[2])
    spacy_df = pd.DataFrame({'tag': tags,
                            'begin_offsets': begin_offsets,
                            'end_offset': end_offsets,
                            'text': text})
    spacy_df['tag'].loc[spacy_df['tag'] == 'GPE'] = 'place'
    spacy_df['tag'].loc[spacy_df['tag'] == 'PERSON'] = 'person'
    spacy_df.to_csv(os.path.join(spacy_dir, letter), index=False)

In [33]:
gs = pd.read_csv(os.path.join(gold_standard_dir, letter))
gs.sort_values(by=['begin_offset'], inplace=True)
gs

('MarlowHow', 32, 41, 'GPE')
('John Keats', 115, 125, 'PERSON')
('John Keats!--Do', 435, 450, 'PERSON')
('Johnson', 573, 580, 'PERSON')
('JohnsonMr', 740, 749, 'PERSON')
('Johnson', 751, 758, 'PERSON')
('Countryman', 865, 875, 'PERSON')
('Northmore', 880, 889, 'PERSON')
('Northmore', 1660, 1669, 'PERSON')
('Johnson', 1679, 1686, 'PERSON')
('Marlow', 2029, 2035, 'GPE')
('Marlow', 2147, 2153, 'GPE')
('Bisham', 2403, 2409, 'PERSON')
('James', 2758, 2763, 'PERSON')
('London', 2803, 2809, 'GPE')
('Talfourd', 3239, 3247, 'PERSON')
('Baldwin', 3540, 3547, 'PERSON')
('Haydon', 3851, 3857, 'PERSON')
('Macready', 4021, 4029, 'PERSON')
('Talfourd', 4042, 4050, 'PERSON')
('Macbeth', 4459, 4466, 'PERSON')
('England', 4524, 4531, 'GPE')
('Daphne', 4912, 4918, 'PERSON')
('God', 5238, 5241, 'PERSON')
('Hofland', 5329, 5336, 'PERSON')

       tag  begin_offset  end_offset           text              ref
0    place            13          26  Seymour Court       #SeymourCt
1    place            32          38         Marlow          #Marlow
2   person           115         125     John Keats           #Keats
3   person           435         445     John Keats           #Keats
4   person           569         580    Mr. Johnson      #Johnson_Mr
5   person           639         645         Sister    #Johnson_Miss
6   person           736         747    Mr. Johnson      #Johnson_Mr
7   person           747         758    Mr. Johnson      #Johnson_Mr
8   person           876         889  Mr. Northmore  #Northmore_Thos
9   person          1656        1669  Mr. Northmore  #Northmore_Thos
10  person          1675        1686    Mr. Johnson      #Johnson_Mr
11   place          1829        1836        Bristol         #Bristol
12   place          2029        2035         Marlow          #Marlow
13   place          2147        2153         Marlow          #Marlow
14   place          2242        2248         Marlow          #Marlow
15   place          2285        2291         Thames          #Thames
16   place          2403        2415   Bisham Abbey    #Bisham_Abbey
17  person          2753        2763     Miss James      #James_Miss
18   place          2803        2809         London     #London_city
19  person          3077        3084        Baldwin       #Baldwin_R
20  person          3235        3247   Mr. Talfourd   #Talfourd_Thos
21  person          3516        3523        Baldwin       #Baldwin_R
22  person          3536        3547    Mr. Baldwin       #Baldwin_R
23  person          3847        3857     Mr. Haydon          #Haydon
24  person          3886        3890           Papa     #Mitford_Geo
25  person          4017        4029   Mr. Macready     #Macready_Wm
26  person          4038        4051  Mr. Talfourd>   #Talfourd_Thos
27  person          4215        4222        Manager              NaN
28   place          4524        4531        England         #England
29   place          4610        4617        England         #England
30  person          4912        4918         Daphne      #Daphne_pet
31  person          5300        5313  M. R. Mitford             #MRM
32  person          5326        5337    Mr. Hofland      #Hofland_TC

In [36]:
tags = []
begin_offsets = []
end_offsets = []
text = []
for e in ents:
    text.append(e[0])
    tags.append(e[-1])
    begin_offsets.append(e[1])
    end_offsets.append(e[2])
spacy_df = pd.DataFrame({'tag': tags,
                        'begin_offsets': begin_offsets,
                        'end_offset': end_offsets,
                        'text': text})
spacy_df['tag'].loc[spacy_df['tag'] == 'GPE'] = 'place'
spacy_df['tag'].loc[spacy_df['tag'] == 'PERSON'] = 'person'
spacy_df

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

       tag  begin_offsets  end_offset             text
0    place             32          41        MarlowHow
1   person            115         125       John Keats
2   person            435         450  John Keats!--Do
3   person            573         580          Johnson
4   person            740         749        JohnsonMr
5   person            751         758          Johnson
6   person            865         875       Countryman
7   person            880         889        Northmore
8   person           1660        1669        Northmore
9   person           1679        1686          Johnson
10   place           2029        2035           Marlow
11   place           2147        2153           Marlow
12  person           2403        2409           Bisham
13  person           2758        2763            James
14   place           2803        2809           London
15  person           3239        3247         Talfourd
16  person           3540        3547          Baldwin
17  person           3851        3857           Haydon
18  person           4021        4029         Macready
19  person           4042        4050         Talfourd
20  person           4459        4466          Macbeth
21   place           4524        4531          England
22  person           4912        4918           Daphne
23  person           5238        5241              God
24  person           5329        5336          Hofland