In [1]:
import os
import re
import pandas as pd
pd.set_option('chained_assignment', None)

In [2]:
gold_standard_dir = '../mitford_letters_gs'
spacy_dir = '../spacy_mitford'
flair_dir = '../flair_mitford'
stanford_dir = '../stanford_parsed_mitford'
letters = os.listdir(spacy_dir)

In [4]:
def match_function(t1, b1, e1, t2, b2, e2):
    # t1 = entity type of record 1
    # b1 = begin offset of record 1
    # e1 = end offset of record 1
    
    # t1 = entity type of record 2
    # b2 = begin offset of record 2
    # e2 = end effset of record 2
    
    # Two records are a match if they have the same entity type and 
    # at least 50% of their characters overlap.
    r1 = set(range(b1, e1))
    r2 = set(range(b2, e2))
    intersection = r1.intersection(r2)
    union = r1.union(r2)
    match = len(intersection) / len(union)
    if t1 == t2:
        if match >= 0.5:
            return True
        else:
            return False
    else:
        return False

In [15]:
# Stanford NER
precision_numerator = 0
precision_denominator = 0
recall_numerator = 0
recall_denominator = 0
for letter in letters:
    # Load Stanford NER
    df = pd.read_csv(os.path.join(stanford_dir, letter))
    df = df.loc[~df['text'].str.isspace()]
    df = df.loc[~df['text'].isin(['he', 'she', 'him', 'her', 'his', 'hers',
                                 'they', 'us', 'it', 'we'])]
    df.reset_index(inplace=True)

    # Load gold standard NER
    gs_df = pd.read_csv(os.path.join(gold_standard_dir, letter))
    gs_df.reset_index(inplace=True)
    
    # Compute Precision and Recall
    gs_df['has_match'] = False
    for record1 in gs_df.values:
        for record2 in df.values:
            if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
                gs_df['has_match'].loc[gs_df['index'] == record1[0]] = True
    recall = gs_df['has_match'].sum() / len(gs_df)
    recall_numerator += gs_df['has_match'].sum()
    recall_denominator += len(gs_df)
    #print('Recall: {}'.format(gs_df['has_match'].sum() / len(gs_df)))

    df['has_match'] = False
    for record1 in df.values:
        for record2 in gs_df.values:
            if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
                df['has_match'].loc[df['index'] == record1[0]] = True
    precision_numerator += df['has_match'].sum()
    precision_denominator += len(df)
    precision = df['has_match'].sum() / len(df)
    #print('Precision: {}'.format(df['has_match'].sum() / len(df)))

print('Flair Precision: {}'.format(precision_numerator/precision_denominator))
print('Flair Recall: {}'.format(recall_numerator/recall_denominator))

Flair Precision: 0.5259959486833221
Flair Recall: 0.4873341375150784

In [145]:
# Flair
precision_numerator = 0
precision_denominator = 0
recall_numerator = 0
recall_denominator = 0
for letter in letters:
    # Load Flair NER
    flair_df = pd.read_csv(os.path.join(flair_dir, letter))
    flair_df = flair_df.loc[~flair_df['text'].str.isspace()]
    flair_df.reset_index(inplace=True)
    
    # Load gold standard NER
    gs_df = pd.read_csv(os.path.join(gold_standard_dir, letter))
    gs_df.reset_index(inplace=True)
    
    # Compute Precision and Recall
    gs_df['has_match'] = False
    for record1 in gs_df.values:
        for record2 in flair_df.values:
            if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
                gs_df['has_match'].loc[gs_df['index'] == record1[0]] = True
    recall = gs_df['has_match'].sum() / len(gs_df)
    recall_numerator += gs_df['has_match'].sum()
    recall_denominator += len(gs_df)
    #print('Recall: {}'.format(gs_df['has_match'].sum() / len(gs_df)))

    flair_df['has_match'] = False
    for record1 in flair_df.values:
        for record2 in gs_df.values:
            if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
                flair_df['has_match'].loc[flair_df['index'] == record1[0]] = True
    precision_numerator += flair_df['has_match'].sum()
    precision_denominator += len(flair_df)
    precision = flair_df['has_match'].sum() / len(flair_df)
    #print('Precision: {}'.format(flair_df['has_match'].sum() / len(flair_df)))

print('Flair Precision: {}'.format(precision_numerator/precision_denominator))
print('Flair Recall: {}'.format(recall_numerator/recall_denominator))

Flair Precision: 0.5352343493936415
Flair Recall: 0.5069360675512666

In [140]:
# spaCy
precision_numerator = 0
precision_denominator = 0
recall_numerator = 0
recall_denominator = 0
for letter in letters:
    # Load spaCy NER
    spacy_df = pd.read_csv(os.path.join(spacy_dir, letter))
    spacy_df = spacy_df.loc[~spacy_df['text'].str.isspace()]
    spacy_df.reset_index(inplace=True)
    
    # Load gold standard NER
    gs_df = pd.read_csv(os.path.join(gold_standard_dir, letter))
    gs_df.reset_index(inplace=True)
    
    # Compute Precision and Recall
    gs_df['has_match'] = False
    for record1 in gs_df.values:
        for record2 in spacy_df.values:
            if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
                gs_df['has_match'].loc[gs_df['index'] == record1[0]] = True
    recall = gs_df['has_match'].sum() / len(gs_df)
    recall_numerator += gs_df['has_match'].sum()
    recall_denominator += len(gs_df)
    #print('Recall: {}'.format(gs_df['has_match'].sum() / len(gs_df)))

    spacy_df['has_match'] = False
    for record1 in spacy_df.values:
        for record2 in gs_df.values:
            if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
                spacy_df['has_match'].loc[spacy_df['index'] == record1[0]] = True
    precision_numerator += spacy_df['has_match'].sum()
    precision_denominator += len(spacy_df)
    precision = spacy_df['has_match'].sum() / len(spacy_df)
    #print('Precision: {}'.format(spacy_df['has_match'].sum() / len(spacy_df)))

print('Spacy Precision: {}'.format(precision_numerator/precision_denominator))
print('Spacy Recall: {}'.format(recall_numerator/recall_denominator))

Spacy Precision: 0.47377384196185285
Spacy Recall: 0.43003618817852834

In [138]:
letter = letters[0]
spacy_df = pd.read_csv(os.path.join(flair_dir, letter))
spacy_df = spacy_df.loc[~spacy_df['text'].str.isspace()]
spacy_df.reset_index(inplace=True)
spacy_df

    index     tag  begin_offsets  end_offset              text
0       0   place             32          41         MarlowHow
1       1  person            115         125        John Keats
2       2  person            434         444        John Keats
3       3  person            570         577           Johnson
4       4  person            732         745     Mr. JohnsonMr
5       5  person            746         753           Johnson
6       6  person            871         884     Mr. Northmore
7       7  person           1651        1660         Northmore
8       8  person           1670        1677           Johnson
9       9   place           2135        2141            Marlow
10     10  person           2230        2236            Marlow
11     11   place           2273        2279            Thames
12     12  person           2391        2407  Bisham Abbeythat
13     13  person           2739        2749        Miss James
14     14   place           2788        2794            London
15     15  person           3028        3035           Emilyin
16     16  person           3062        3069           Baldwin
17     17  person           3072        3087   MagazineMitford
18     18  person           3112        3117             Emily
19     19  person           3224        3232          Talfourd
20     20  person           3523        3530           Baldwin
21     21  person           3829        3839        Mr. Haydon
22     22  person           3868        3872              Papa
23     23  person           4003        4011          Macready
24     24  person           4024        4032          Talfourd
25     25  person           4042        4048            Fiesco
26     26  person           4385        4391            Christ
27     27  person           4439        4446           Macbeth
28     28   place           4502        4509           England
29     29   place           4588        4595           England
30     30  person           4889        4896           Daphne.
31     31  person           5039        5042               God
32     32  person           5214        5217               God
33     33  person           5262        5274      R. MitfordSo
34     34  person           5289        5296           Hofland

In [130]:
gs_df = pd.read_csv(os.path.join(gold_standard_dir, letter))
gs_df.reset_index(inplace=True)
gs_df

    index     tag  begin_offset  end_offset           text              ref
0       0   place            13          26  Seymour Court       #SeymourCt
1       1   place            32          38         Marlow          #Marlow
2       2  person           115         125     John Keats           #Keats
3       3  person           435         445     John Keats           #Keats
4       4  person           569         580    Mr. Johnson      #Johnson_Mr
5       5  person           639         645         Sister    #Johnson_Miss
6       6  person           736         747    Mr. Johnson      #Johnson_Mr
7       7  person           747         758    Mr. Johnson      #Johnson_Mr
8       8  person           876         889  Mr. Northmore  #Northmore_Thos
9       9  person          1656        1669  Mr. Northmore  #Northmore_Thos
10     10  person          1675        1686    Mr. Johnson      #Johnson_Mr
11     11   place          1829        1836        Bristol         #Bristol
12     12   place          2029        2035         Marlow          #Marlow
13     13   place          2147        2153         Marlow          #Marlow
14     14   place          2242        2248         Marlow          #Marlow
15     15   place          2285        2291         Thames          #Thames
16     16   place          2403        2415   Bisham Abbey    #Bisham_Abbey
17     17  person          2753        2763     Miss James      #James_Miss
18     18   place          2803        2809         London     #London_city
19     19  person          3077        3084        Baldwin       #Baldwin_R
20     20  person          3235        3247   Mr. Talfourd   #Talfourd_Thos
21     21  person          3516        3523        Baldwin       #Baldwin_R
22     22  person          3536        3547    Mr. Baldwin       #Baldwin_R
23     23  person          3847        3857     Mr. Haydon          #Haydon
24     24  person          3886        3890           Papa     #Mitford_Geo
25     25  person          4017        4029   Mr. Macready     #Macready_Wm
26     26  person          4038        4051  Mr. Talfourd>   #Talfourd_Thos
27     27  person          4215        4222        Manager              NaN
28     28   place          4524        4531        England         #England
29     29   place          4610        4617        England         #England
30     30  person          4912        4918         Daphne      #Daphne_pet
31     31  person          5300        5313  M. R. Mitford             #MRM
32     32  person          5326        5337    Mr. Hofland      #Hofland_TC

In [78]:
gs_df['has_match'] = False
for record1 in gs_df.values:
    for record2 in spacy_df.values:
        if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
            gs_df['has_match'].loc[gs_df['index'] == record1[0]] = True
print(gs_df)
print('Recall: {}'.format(gs_df['has_match'].sum() / len(gs_df)))

spacy_df['has_match'] = False
for record1 in spacy_df.values:
    for record2 in gs_df.values:
        if match_function(record1[1], record1[2], record1[3], record1[1], record2[2], record2[3]):
            spacy_df['has_match'].loc[spacy_df['index'] == record1[0]] = True
print(spacy_df)
print('Precision: {}'.format(spacy_df['has_match'].sum() / len(spacy_df)))

    index     tag  begin_offset  end_offset           text              ref  \
0       0   place            13          26  Seymour Court       #SeymourCt
1       1   place            32          38         Marlow          #Marlow
2       2  person           115         125     John Keats           #Keats
3       3  person           435         445     John Keats           #Keats
4       4  person           569         580    Mr. Johnson      #Johnson_Mr
5       5  person           639         645         Sister    #Johnson_Miss
6       6  person           736         747    Mr. Johnson      #Johnson_Mr
7       7  person           747         758    Mr. Johnson      #Johnson_Mr
8       8  person           876         889  Mr. Northmore  #Northmore_Thos
9       9  person          1656        1669  Mr. Northmore  #Northmore_Thos
10     10  person          1675        1686    Mr. Johnson      #Johnson_Mr
11     11   place          1829        1836        Bristol         #Bristol
12     12   place          2029        2035         Marlow          #Marlow
13     13   place          2147        2153         Marlow          #Marlow
14     14   place          2242        2248         Marlow          #Marlow
15     15   place          2285        2291         Thames          #Thames
16     16   place          2403        2415   Bisham Abbey    #Bisham_Abbey
17     17  person          2753        2763     Miss James      #James_Miss
18     18   place          2803        2809         London     #London_city
19     19  person          3077        3084        Baldwin       #Baldwin_R
20     20  person          3235        3247   Mr. Talfourd   #Talfourd_Thos
21     21  person          3516        3523        Baldwin       #Baldwin_R
22     22  person          3536        3547    Mr. Baldwin       #Baldwin_R
23     23  person          3847        3857     Mr. Haydon          #Haydon
24     24  person          3886        3890           Papa     #Mitford_Geo
25     25  person          4017        4029   Mr. Macready     #Macready_Wm
26     26  person          4038        4051  Mr. Talfourd>   #Talfourd_Thos
27     27  person          4215        4222        Manager              NaN
28     28   place          4524        4531        England         #England
29     29   place          4610        4617        England         #England
30     30  person          4912        4918         Daphne      #Daphne_pet
31     31  person          5300        5313  M. R. Mitford             #MRM
32     32  person          5326        5337    Mr. Hofland      #Hofland_TC

    has_match
0       False
1        True
2        True
3        True
4        True
5       False
6        True
7        True
8        True
9        True
10       True
11      False
12       True
13       True
14      False
15      False
16      False
17       True
18       True
19      False
20       True
21      False
22       True
23       True
24      False
25       True
26       True
27      False
28       True
29      False
30       True
31      False
32       True
Recall: 0.6363636363636364
    index     tag  begin_offsets  end_offset             text  has_match
0       0   place             32          41        MarlowHow       True
1       1  person            115         125       John Keats       True
2       2  person            435         450  John Keats!--Do       True
3       3  person            573         580          Johnson       True
4       4  person            740         749        JohnsonMr       True
5       5  person            751         758          Johnson       True
6       6  person            865         875       Countryman      False
7       7  person            880         889        Northmore       True
8       8  person           1660        1669        Northmore       True
9       9  person           1679        1686          Johnson       True
10     10   place           2029        2035           Marlow       True
11     11   place           2147        2153           Marlow       True
12     12  person           2403        2409           Bisham       True
13     13  person           2758        2763            James       True
14     14   place           2803        2809           London       True
15     15  person           3239        3247         Talfourd       True
16     16  person           3540        3547          Baldwin       True
17     17  person           3851        3857           Haydon       True
18     18  person           4021        4029         Macready       True
19     19  person           4042        4050         Talfourd       True
20     20  person           4459        4466          Macbeth      False
21     21   place           4524        4531          England       True
22     22  person           4912        4918           Daphne       True
23     23  person           5238        5241              God      False
24     24  person           5329        5336          Hofland       True
Precision: 0.88