In [65]:
import os
import pandas as pd
pd.set_option('chained_assignment', None)

In [8]:
gold_standard_dir = '../mitford_letters_gs'
spacy_dir = '../spacy_mitford'
letters = os.listdir(spacy_dir)

In [58]:
def match_function(t1, b1, e1, t2, b2, e2):
    # t1 = entity type of record 1
    # b1 = begin offset of record 1
    # e1 = end offset of record 1
    
    # t1 = entity type of record 2
    # b2 = begin offset of record 2
    # e2 = end effset of record 2
    
    # Two records are a match if they have the same entity type and 
    # at least 50% of their characters overlap.
    r1 = set(range(b1, e1))
    r2 = set(range(b2, e2))
    intersection = r1.intersection(r2)
    union = r1.union(r2)
    match = len(intersection) / len(union)
    if t1 == t2:
        if match >= 0.5:
            return True
        else:
            return False
    else:
        return False

In [66]:
for letter in letters:
    # Load Spacy Ner
    spacy_df = pd.read_csv(os.path.join(spacy_dir, letter))
    spacy_df.reset_index(inplace=True)
    
    # Load gold standard NER
    gs_df = pd.read_csv(os.path.join(gold_standard_dir, letter))
    gs_df.reset_index(inplace=True)
    
    # Compute Precision and Recall
    gs_df['has_match'] = False
    for record1 in gs_df.values:
        for record2 in spacy_df.values:
            if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
                gs_df['has_match'].loc[gs_df['index'] == record1[0]] = True
    recall = gs_df['has_match'].sum() / len(gs_df)
    #print('Recall: {}'.format(gs_df['has_match'].sum() / len(gs_df)))

    spacy_df['has_match'] = False
    for record1 in spacy_df.values:
        for record2 in gs_df.values:
            if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
                spacy_df['has_match'].loc[spacy_df['index'] == record1[0]] = True
    precision = spacy_df['has_match'].sum() / len(spacy_df)
    #print('Precision: {}'.format(spacy_df['has_match'].sum() / len(spacy_df)))

In [76]:
letter = letters[0]
spacy_df = pd.read_csv(os.path.join(spacy_dir, letter))
spacy_df.reset_index(inplace=True)
spacy_df.head()

   index     tag  begin_offsets  end_offset             text
0      0   place             32          41        MarlowHow
1      1  person            115         125       John Keats
2      2  person            435         450  John Keats!--Do
3      3  person            573         580          Johnson
4      4  person            740         749        JohnsonMr

In [77]:
gs_df = pd.read_csv(os.path.join(gold_standard_dir, letter))
gs_df.reset_index(inplace=True)
gs_df.head()

   index     tag  begin_offset  end_offset           text          ref
0      0   place            13          26  Seymour Court   #SeymourCt
1      1   place            32          38         Marlow      #Marlow
2      2  person           115         125     John Keats       #Keats
3      3  person           435         445     John Keats       #Keats
4      4  person           569         580    Mr. Johnson  #Johnson_Mr

In [78]:
gs_df['has_match'] = False
for record1 in gs_df.values:
    for record2 in spacy_df.values:
        if match_function(record1[1], record1[2], record1[3], record2[1], record2[2], record2[3]):
            gs_df['has_match'].loc[gs_df['index'] == record1[0]] = True
print(gs_df)
print('Recall: {}'.format(gs_df['has_match'].sum() / len(gs_df)))

spacy_df['has_match'] = False
for record1 in spacy_df.values:
    for record2 in gs_df.values:
        if match_function(record1[1], record1[2], record1[3], record1[1], record2[2], record2[3]):
            spacy_df['has_match'].loc[spacy_df['index'] == record1[0]] = True
print(spacy_df)
print('Precision: {}'.format(spacy_df['has_match'].sum() / len(spacy_df)))

    index     tag  begin_offset  end_offset           text              ref  \
0       0   place            13          26  Seymour Court       #SeymourCt
1       1   place            32          38         Marlow          #Marlow
2       2  person           115         125     John Keats           #Keats
3       3  person           435         445     John Keats           #Keats
4       4  person           569         580    Mr. Johnson      #Johnson_Mr
5       5  person           639         645         Sister    #Johnson_Miss
6       6  person           736         747    Mr. Johnson      #Johnson_Mr
7       7  person           747         758    Mr. Johnson      #Johnson_Mr
8       8  person           876         889  Mr. Northmore  #Northmore_Thos
9       9  person          1656        1669  Mr. Northmore  #Northmore_Thos
10     10  person          1675        1686    Mr. Johnson      #Johnson_Mr
11     11   place          1829        1836        Bristol         #Bristol
12     12   place          2029        2035         Marlow          #Marlow
13     13   place          2147        2153         Marlow          #Marlow
14     14   place          2242        2248         Marlow          #Marlow
15     15   place          2285        2291         Thames          #Thames
16     16   place          2403        2415   Bisham Abbey    #Bisham_Abbey
17     17  person          2753        2763     Miss James      #James_Miss
18     18   place          2803        2809         London     #London_city
19     19  person          3077        3084        Baldwin       #Baldwin_R
20     20  person          3235        3247   Mr. Talfourd   #Talfourd_Thos
21     21  person          3516        3523        Baldwin       #Baldwin_R
22     22  person          3536        3547    Mr. Baldwin       #Baldwin_R
23     23  person          3847        3857     Mr. Haydon          #Haydon
24     24  person          3886        3890           Papa     #Mitford_Geo
25     25  person          4017        4029   Mr. Macready     #Macready_Wm
26     26  person          4038        4051  Mr. Talfourd>   #Talfourd_Thos
27     27  person          4215        4222        Manager              NaN
28     28   place          4524        4531        England         #England
29     29   place          4610        4617        England         #England
30     30  person          4912        4918         Daphne      #Daphne_pet
31     31  person          5300        5313  M. R. Mitford             #MRM
32     32  person          5326        5337    Mr. Hofland      #Hofland_TC

    has_match
0       False
1        True
2        True
3        True
4        True
5       False
6        True
7        True
8        True
9        True
10       True
11      False
12       True
13       True
14      False
15      False
16      False
17       True
18       True
19      False
20       True
21      False
22       True
23       True
24      False
25       True
26       True
27      False
28       True
29      False
30       True
31      False
32       True
Recall: 0.6363636363636364
    index     tag  begin_offsets  end_offset             text  has_match
0       0   place             32          41        MarlowHow       True
1       1  person            115         125       John Keats       True
2       2  person            435         450  John Keats!--Do       True
3       3  person            573         580          Johnson       True
4       4  person            740         749        JohnsonMr       True
5       5  person            751         758          Johnson       True
6       6  person            865         875       Countryman      False
7       7  person            880         889        Northmore       True
8       8  person           1660        1669        Northmore       True
9       9  person           1679        1686          Johnson       True
10     10   place           2029        2035           Marlow       True
11     11   place           2147        2153           Marlow       True
12     12  person           2403        2409           Bisham       True
13     13  person           2758        2763            James       True
14     14   place           2803        2809           London       True
15     15  person           3239        3247         Talfourd       True
16     16  person           3540        3547          Baldwin       True
17     17  person           3851        3857           Haydon       True
18     18  person           4021        4029         Macready       True
19     19  person           4042        4050         Talfourd       True
20     20  person           4459        4466          Macbeth      False
21     21   place           4524        4531          England       True
22     22  person           4912        4918           Daphne       True
23     23  person           5238        5241              God      False
24     24  person           5329        5336          Hofland       True
Precision: 0.88